/*Tło*/
html,body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373736+0,d4d4e6+50,d4d4e6+50,373736+100 */
background: rgb(55,55,54); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(55,55,54,1) 0%, rgba(212,212,230,1) 50%, rgba(212,212,230,1) 50%, rgba(55,55,54,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(55,55,54,1) 0%,rgba(212,212,230,1) 50%,rgba(212,212,230,1) 50%,rgba(55,55,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(55,55,54,1) 0%,rgba(212,212,230,1) 50%,rgba(212,212,230,1) 50%,rgba(55,55,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
height: 100%;
}
.topbg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232a3f+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(35,42,63,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(35,42,63,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(35,42,63,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232a3f', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
height:30%;
width:100%;
position: absolute;
}

.botbg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232a3f+0,ffffff+100&1+0,0+100 */
background: -moz-linear-gradient(bottom,  rgba(35,42,63,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(bottom,  rgba(35,42,63,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to top,  rgba(35,42,63,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232a3f', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
height:30%;
bottom:0;
width:100%;
position:absolute;
}
/*konenery*/
.pre-container{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cac7c6+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(202,199,198,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(202,199,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(202,199,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cac7c6',GradientType=0 ); /* IE6-9 */
padding: 5px!important;
border-radius: 70px;
z-index: 3;
position: relative;
margin: auto;
}
.full-container{
background: #fff;
border-radius: 70px;
padding:10px 15px 15px 15px;
}
.container-rest{
background: #f3f4f4; /* Old browsers */
background: -moz-linear-gradient(45deg, #f3f4f4 0%, #b1bbc3 100%, #242c43 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #f3f4f4 0%,#b1bbc3 100%,#242c43 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #f3f4f4 0%,#b1bbc3 100%,#242c43 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f4', endColorstr='#242c43',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border-radius: 30px;
}

ul{
width:100%;
}

li{
width: 33.3333333%;
border-right: 5px solid #FFF;
}

li:last-of-type{
border-right: none;
}

li>a{
text-align: center;
color:#FFF!important;
font-size: 22px;
padding: 0px!important;
}

li>a:hover{
color:#777!important;
background-color: transparent!important;  
}

.container-fluid{
padding:0px!important;
}

.navbar{
min-height:0px!important;
}

h1,h2,p{
margin-left:20px!important;
text-align:justify;
}
h1,h2{
margin-right: 35px!important;
}

p{
margin-right: 20px!important;
}

 #delete-article{
background: url('../images/cancel.png');
background-repeat: no-repeat;  
width: 32px;
height: 32px;
float: right;
position: relative;
margin-bottom: -32px;
z-index: 3;
}

input, textarea,select {
display:block;
padding: 5px;
border-radius: 20px;
width: 100%;
text-align: center;
resize: vertical;
}
form>.full-container>.container-rest{
    margin: 10px 0 10px;
}
span>p{
    text-align: center;
    margin: 0;
    padding: 0;
    color: red;
}

 .error{
box-shadow: 0 0 8px #f00;
 }

@media(max-width:768px){
    .navbar-default{
    background-color:transparent!important;
    border-color:transparent!important;
    }
    li{
    width:100%;
    border:none;
    padding-bottom: 2px;
    }
    .navbar-nav {
    margin:0!important;
    }
}